[submodule "lib/concord"]
	path = lib/concord
	url = https://github.com/Keyslam-Group/Concord
[submodule "lib/lume"]
	path = lib/lume
	url = https://github.com/rxi/lume
[submodule "lib/xml2lua"]
	path = lib/xml2lua
	url = https://github.com/misleadingname/xml2lua-LS13
[submodule "lib/lualzw"]
	path = lib/lualzw
	url = https://github.com/Rochet2/lualzw
